<!DOCTYPE html>
<html>
<head>
	<title>About</title>
</head>
<body>
<h1 style="color: solidblue">About Page</h1>
<hr>
<ul style="list-style-type: disc">
	<li>This is a simple blog portal</li>
	<li>This project is done using django framework</li>
	<li>This portal has options like</li>
	<ul style="list-style-type: square">
		<li>Register</li>
		<li>Login</li>
		<li>Has a home page and about informations</li>
		<li>Home page contains all post with</li>
		<ol>
			<li>post title</li>
			<li>post content</li>
			<li>post creation information</li>
			<li>The post listed in the order of date posted</li>
		</ol>
		<br>
		<li>Once logged in they can:</li>
		<ul style="list-style-type: disc">
			<li>See all their own post ordered in posting date</li>
			<li>Create new post</li>
			<li>Update and delete an existing post</li>
			<li>Update the profile information</li>
			<li>This profile information portal has been left undeveloped for further developement</li>
		</ul>
	</ul>
</ul>

</body>
</html>



